body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}
.hero {
  height: 60vh;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* KARTLAR */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

/* SAYFA İÇİ */
.page {
  padding: 60px;
  text-align: center;
}

/* GERİ BUTONU */
.back {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
